@font-face {
  font-family: 'USBold';
  src: url('./fonts/UniSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USRegular';
  src: url('./fonts/UniSansRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USThin';
  src: url('./fonts/UniSansThin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USThin';
  src: url('./fonts/UniSansThin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USHeavy';
  src: url('./fonts/UniSansHeavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USSemiBold';
  src: url('./fonts/UniSansSemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USBook';
  src: url('./fonts/Fontfabric-UniSans-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USThin';
  src: url('./fonts/Fontfabric-UniSans-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USLight';
  src: url('./fonts/Fontfabric-UniSans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}