@font-face {
  font-family: 'USBold';
  src: url('./fonts/uni-sans-bold-webfont.woff') format('woff'), url('./fonts/uni-sans-bold-webfont.woff2') format('woff2') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USRegular';
  src: url('./fonts/uni-sans-regular-webfont.woff') format('woff'), url('./fonts/uni-sans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USThin';
  src: url('./fonts/uni-sans-thin-webfont.woff') format('woff'), url('./fonts/uni-sans-thin-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USLight';
  src: url('./fonts/uni-sans-light-webfont.woff') format('woff'), url('./fonts/uni-sans-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USHeavy';
  src: url('./fonts/UniSansHeavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USSemiBold';
  src: url('./fonts/uni-sans-semibold-webfont.woff') format('woff'), url('./fonts/uni-sans-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USBook';
  src: url('./fonts/uni-sans-book-webfont.woff') format('woff'), url('./fonts/uni-sans-book-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/********** Italics **********/

@font-face {
  font-family: 'USBoldItalic';
  src: url('./fonts/uni-sans-bold-italic-webfont.woff') format('woff'), url('./fonts/uni-sans-bold-italic-webfont.woff2') format('woff2') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USRegularItalic';
  src: url('./fonts/uni-sans-regular-italic-webfont.woff') format('woff'), url('./fonts/uni-sans-regular-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USThinItalic';
  src: url('./fonts/uni-sans-thin-italic-webfont.woff') format('woff'), url('./fonts/uni-sans-thin-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USLightItalic';
  src: url('./fonts/uni-sans-light-italic-webfont.woff') format('woff'), url('./fonts/uni-sans-light-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USSemiBoldItalic';
  src: url('./fonts/uni-sans-semibold-italic-webfont.woff') format('woff'), url('./fonts/uni-sans-semibold-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'USBookItalic';
  src: url('./fonts/uni-sans-book-italic-webfont.woff') format('woff'), url('./fonts/uni-sans-book-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}