@import 'https://cdn.staticaly.com/gh/harshitks2203/TKDesigns/05c4160e/css/fontline.css';

h1{
    font-family: 'USHeavy', sans-serif;
    text-align: center;
}

h2{
    font-family: 'USBold', sans-serif;
    text-align: center;
}

h3{
    font-family: 'USRegular', sans-serif;
    text-align: center;
}