@import url(//db.onlinewebfonts.com/c/8ffe66475abdfa1443dd4d8ee7883d48?family=UniSansW01-Light);
@import url(//db.onlinewebfonts.com/c/35b9d1dbf3f5779322e33d4c739dd5e4?family=UniSansW01-HeavyItalic);
@import url(//db.onlinewebfonts.com/c/279d17e73d9c290a4419d22db8a09089?family=UniSansW01-Italic);
@import url(//db.onlinewebfonts.com/c/ab804af7699fabaf769911c77bb4d115?family=UniSansW01-Regular);
@import url(//db.onlinewebfonts.com/c/bcbeab8fa70d1d1899cd5c6993cd67b9?family=UniSansW01-Heavy);    

body {
    background-color: #fff;
    overflow-x: hidden !important;
    font-family: 'UniSansW01-Regular', sans-serif;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'UniSansW01-Light', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-weight: 500;
    color: #eee;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.parent-class .form-group input[type=text]:focus,
.parent-class .form-group [type=text].form-control:focus, {
  box-shadow: none !important;
}

::placeholder { 
    color: #fff; 
    opacity: 1;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff; opacity: 1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff; opacity: 1;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fas{
    cursor: pointer;
}

.search{
    background-color: #0b1f1a;
    float: right;
    border-radius: 10px;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btn-primary-outline {
    background-color: transparent;
    border:2px solid #ccc;
    padding: 10px 2% 10px 2%;
    color: #FFF;
    font-family: 'UniSansW01-Light', sans-serif , -apple-system, BlinkMacSystemFont; 
}

.btn1{
    margin-top: -22%;
}

.btn{
    transition: transform .2s;
    box-shadow: none;
    text-decoration: none;
}
.btn:hover {
    transform: scale(1.1);
    color: #fff;
    text-decoration: none;
    box-shadow: none;
}

.desc{
    font-family: 'UniSansW01-Italic', sans-serif;
    text-transform: uppercase;
    color: #111;
    line-height: 1.2;
    font-size: 16px;
    
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group{
    width: 92vw;
    height: 70vh;
    background-color: #ededed;
    flex-direction: row;
    display: flex;
}

.left, .right {
    width: 50%;
  }
  
  .right {
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
  
  .right img {
    object-fit: cover;
    min-height: 80vh;
    width: 100%;
    height: 100%;
  }

.texts{
    padding: 9%; 
    width: 100%;
}

.topText{
    font-family: 'UniSansW01-HeavyItalic', sans-serif , -apple-system, BlinkMacSystemFont; 
    margin-top: 3vh;
    font-weight: 900;
    padding-left: 5%; 
    letter-spacing: -0.2px;
    font-size: 5rem;
    color: #000;
}

.btn-dark{
    background-color: #000 !important;
    padding: 10px 1.5rem 10px  1.5rem;
    font-family: 'UniSansW01-Light', sans-serif , -apple-system, BlinkMacSystemFont; 
    cursor: pointer;
}

button:focus {outline:0 !important;}

.shoeLeft{
    width: 100%;
    margin-left: -7vw;
}

.nmd {
    margin-left: -33vw;
    margin-top: 28vw;
    z-index: -1;
    
}

.heavy{
    float: left;
    font-family: 'UniSansW01-HeavyItalic', sans-serif , -apple-system, BlinkMacSystemFont; 
    
}

.light{
    z-index: -1;
    font-family: 'UniSansW01-Light', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-size: 11vh;
    font-style: italic;
    padding-top: 2%;
    position: relative;
    margin-left: -8vw;
}

.light img{
    position: absolute;
    top: 0;
    left: 15vw;
}

.shoeRight{
    width: 210%;
    margin-top: -17vh;
}

.shop {
    width: 100%;
    text-align: center;
    display: flex; 
    justify-content: center;
}

.shop-btn{
    padding: 4vh 10vh;
    font-family: 'UniSansW01-Light', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-size: 5vh;
    margin-top: 20vh;
    box-shadow: 10px 10px 20px 9px #e9e9e9d4;
}

.clear{
    content: '';
    margin-top: 50vh;
}


.group1{
    font-family: 'UniSansW01-HeavyItalic', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-size: 11vh;
    color: #000;
    width: 100%;
    text-align: center;
}

.trend{
    font-family: 'UniSansW01-Regular', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-size: 2vh;
    line-height: 110%;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    margin-left: 50%;
}

.cards {
    margin-top: 2vh;
}

.middle{
    width: 100%;
    margin: 0 auto;
}

.owl-prev {
    width: 2vw;
    height: 2vh;
    position: absolute;
    top: 40%;
    margin-left: -4vw;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -3vw;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {font-size: 10vh; color: #111;}


.prodName{
    font-family: 'UniSansW01-Heavy', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-size: 3.5vh;
    color: #000;
}

.prodPrice{
    font-family: 'UniSansW01-Light', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-size: 3.5vh;
    color: #000;
}

.shop-now{
    padding: 1vh 2vh;
    font-family: 'UniSansW01-Regular', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-size: 2vh;
    box-shadow: 10px 10px 20px 9px #e9e9e9d4;
}

.arrowLeft, .arrowRight{
    font-family: 'UniSansW01-Heavy', sans-serif , -apple-system, BlinkMacSystemFont; 
    font-size: 10vh;
}

.group3{
    width: 92vw;
    height: 95vh;
    background-color: #ededed;
    flex-direction: row;
    display: flex;
}

.left, .right2 {
    width: 50%;
  }
  
  .right2 {
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
  
  .right2 img {
    object-fit: contain;
    min-height: 80vh;
    width: 100%;
    height: 100%;
    margin-top: -15vh;
  }

  .topText2{
    font-family: 'UniSansW01-HeavyItalic', sans-serif , -apple-system, BlinkMacSystemFont; 
    margin-top: 2vh;
    font-weight: 900;
    padding-left: 5%; 
    letter-spacing: -0.2px;
    font-size: 5rem;
    color: #000;
}
.trans {
    background-color: transparent !important;
}




/*********** Navbar ***********/
.mynav{ 
    background-image: url("../images/shoe1.png"); 
    background-repeat: no-repeat;
    width:100%; 
    height:950px; 
    background-repeat: no-repeat;
    background-size: 100% 103%; 
}

.navbar{
    background-color: transparent !important; 
}

.navbar .navbar-brand{ 
    color : #FFF; 
    font-weight: bolder; 
    font-size: 1.3em; 
} 

.navbar .navbar-nav{ 
    margin : 0 auto; 
} 

.navbar .nav-item a{ 
    color: #FFF !important; 
} 

.navbar .dropdown-menu{ 
    background-color: rgba(0,0,0,0.3); 
} 

.dropdown-item:hover{ 
    background-color: rgba(0,0,0,0.3); 
} 

.navbar form button{ 
    background-color: #ea00b1; 
    color:#FFF; 
    border:0; 
} 

.navbar form button:hover{ 
    background-color: #000; 
}

